{% extends "base.html" %}
{% load fb_versions %}
{% version model.field_name version_prefix %}
{%block title%}
    <title>Articipation  | Posts </title>
    <meta name="description" content="Posts" />
{%endblock%}

    {% block pagetitle %}
   <div class="row workspace">
	<ol class="breadcrumb">
	  <li><span class="glyphicon glyphicon-home"></span><a href="/"> Home</a></li>
	  <li></span><a href="/project"> Timeline </a></li>
	  <li></span><a href="/project/type/{{ type }}">  {{ type }} </a></li>
	  <li class="active">  {{ project.title }} </li>

	</ol>	   
</div>
    {% endblock %}

    {% block allcontent %}
    <div class="row workspace ">
	qqw
		
			{% if projects %}
				{% for project in projects %}
                    <div class="worklist">

                        <div class="worklisttext"><h3> <span class="glyphicon glyphicon-file"></span><a href="/project/{{ project.slug }}/">  {{ project.title }}</a>  <small> {{ project.publish_at }} </small> </h3>

                        {{ project.summery}}</div>

                        <a href="/project/{{ project.slug }}/"> <div class="worklistimg"><img src="{% version project.image 'medium' %}"  alt="{{ project.slug }}" /></div></a>

                    </div>
                    <br />
                    <br />
	 			{% endfor %}
			{% endif %}
		
    {% endblock %}

