.box-advert-inner {display: none;}
.displayAd {display:block}

.iframe_k3a1{width:170px;}
.iframe_k3a2{width:170px;}
.iframe_k3a3{width:170px;}
.iframe_k3a4{width:170px;}
.iframe_k3a5{width:170px;}

#leftright-ads-wrap .box-advert{display:block}
#leftright-ads-wrap .box-advert-inner{display:block}
#leftright-ads-wrap .advert-space{display:block}