.abuse-reports-main{
	clear: both;
}
.abuse-reports-main .clear-div{
	clear: both;
}
.report-abuse-form-container{
	padding: 5px 0;
}
.report-abuse-form-container dl{
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
}
.report-abuse-form-container dt{
	float: left;
	margin: 0;
	width: 60px;
}
.report-abuse-form-container dd{
	float: right;
	margin: 0;
}
.report-abuse-form-container input[type="text"]{
	background-color: white;
	color: #333;
	float: left;
	font: normal 16px Arial, sans-serif;
	height: 19px;
	margin-right: 6px;
	box-shadow: inset 0 0 5px 1px #dcdcdc;
	padding: 1px 5px 4px 5px;
	width: 170px;
}
.textarea{
	background-color: white;
	clear: both;
	box-shadow: inset 0 0 5px 1px #dcdcdc;
	padding: 6px 12px;
	border: 2px solid gainsboro;
	overflow: auto;
}
textarea{
	border: 0;
	color: #666;
	font: normal 16px/20px Arial, sans-serif;
	height: 88px;
	width: 100%;
	background: transparent;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	overflow: hidden;
}
.report-abuse-form-container input[type="text"], .report-abuse-form-container .textarea{
	margin: 0 !important;
	border: 0;
}
.report-abuse-form-container p.form-submit{
	margin: 5px 0;
	text-align: right;
}