@import url(fonts.css);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Tienne:400,700,900);


HTML,
BODY {
  font: 16px/1 "Rokkitt", serif;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rokkitt", serif;
}

.navbar-brand img {
    width:20px;
}

.date {
    padding-right:10px;
}

.desk {
    background-color:  #FAFAFA;
}

.workspace {
    background-color: #FDFDFD;
    margin:5px;
    padding:5px;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 4px 1px #CCCCCC;
}
.boarder-right {
   -moz-box-shadow: inset -2px 0px #888;
    -webkit-box-shadow: inset -2px 0px #888;
    box-shadow: inset -2px 0px #888;
    padding-right: 100px;
    padding-left: 40px;

}

.spacebar {
    font: 16px/18px "Din", sans-serif;
    background-color: white;
    text-transform:uppercase;
    margin-left:5%;
    margin-right:5%;
    padding-bottom: 10px;
    padding-top:10px;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 0 1px #CCCCCC;
}

.breadcrumb {
    margin-bottom: 5px;
}

.flatspace {
    background-color: white;
    margin:5px;
    padding:5px;
}

.content {
    margin-top:60px;
}

.homework {
    background-color: white;
    float:left;
    width:340px;
    height:320px;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 4px 1px #CCCCCC;
}

.homework img {
    width:340px;
    height:200px;
    border-bottom: 1px solid  #EEEEEE;
}

.homeworktext {
  margin-left:10px;
}

.mainspace {
    border: 0 none;
    margin-left: 5px;
    margin-right: 5px;
    padding:10px;
}

.work {
    border: 0 none;
    background-color: white;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 4px 1px #CCCCCC;
    margin: 1px4 1px 10px;
    padding:40px 100px 50px 70px;
}

.related {
    background-color: white;
    position:relative;
    margin:5px;
    padding:10px;
    width:360px;
    box-shadow: 1px 1px 1px 1px #888888;
     z-index:10;
}

.worklist {
    height:200px;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 4px 1px #CCCCCC;
    padding-left: 30px;
 	padding-top: 10px;
}

.worklisttext {
    width:60%;
    float:left;

}

.worklistimg img {
    width:300px;
    height:180px;
    box-shadow: 0 0 0 1px #D1D1D1, 0 0 4px 1px #CCCCCC;
	border-left: 5px solid #EEEEEE;
	margin-left:20px;
	border-bottom: 1px solid pink;
}

.timeline {
	margin-left:20px;
}

footer img {
    width:120px;
}
.progress-bar {
    height:10px;
}

.progress {
    height:10px;
    margin-right:6px;
}

.process {
    margin-bottom:10px;
}


.section_body {
    padding-top:20px;
    float:left;
}

.section_line {
    display:none;
    font-size:2.5em;
    position:relative;
    top:-120px;
    left:40px;
}


.section_note {
    display:none;
    font-size:1.5em;
    position:relative;
    top:-100px;
    left:50px;
    padding-right:120px;
}

.related_start {
    display:block;
}


.a_little_left {
    padding-left:20px;
}


.related_footnote {
    position:relative;
    top:10px;
}

.single_tag {
    float:left;
}

.tagdiv {
    display:block;
}

.tag_title {
    padding-top:20px;
}

.clear {
    clear:both;
    padding-top:10px;
}

.comment_body {
   padding:20px;
}

.section_title h2 {
    padding-top:40px;
}

.related_image img {
    width:260px;
}

.modal-backdrop  {
    z-index:0;

}

.modal-dialog {
 padding-top: 130px;
 z-index:120;
 left:100px;
}

.modal-content {
    left:-120px;
}

.modal-body img {
    width:80%;
}